.header{
    background: #3b5998;
    width: 100%;
    height: 80px;
}
body{
    margin: 0;
    font-family:Helvetica Neue, Arial, Helvetica, sans-serif;
}
.logo{
     width: 50%;
     padding-top: 15px;
     float: left;
}
.login{
     width: 50%;
     float: left;
     padding-top: 10px;
     
}
.logo-text{
    color: rgb(225,225,225);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin-left: 180px;
}
.login-label{
    color: white;
    font-size: 11px;
}
.login-data{
    margin-left: 120px;
}
.forgotten-ac{
    font-size: 11px;
    color: #9cb4d8;
    text-decoration: none;
}
.login-button{
    background: #4267b2;
    color: white;
    border: none;
    height: 20px;
    border-color: #29487d;
    margin-left: 7px;
    width: 50px;
    cursor: pointer;
}
.password{
    margin-left: 7px;
}
.login-button:hover{
    background: #3b5998;
}
.forgotten-ac:hover{
   color: black;
}
.main-body{
    background: linear-gradient(#D3D8E8,white);
    height: 500px;
    padding-top: 1px;
    margin-top: -20px;
}
.right-part{
    margin-left: 470px;
    
}
.first-name, .surname, .mobile-emali, .new-password{
    font-size: 15px;
    border-color: rgba(195,195,195,.5);
    border-radius: 7px;
    border-style:double;
    height: 35px;
}
.surname{
    padding-left: 5px;
}
.mobile-emali, .new-password{
    margin-top: 7px;
    width: 400px;
}
.new-password{
    margin-left: -1px;
}
.birthday{
    margin-top: 20px;
}
.birthday-label, .gender-label{
    color: grey;
}
.day-select, .month-select, .year-select{
    border-color: rgba(195,195,195,.5);
    border-radius: 4px;
    border-style:double;
}
.qustion-mark{
    font-size: x-small;
    margin-left: 5px;
    padding: 0 4px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.birthdate{
    padding-top: 10px;
}
.gender{
    margin-top: 10px;
}
.gender-radio{
    margin-top: 10px;

}
.sign-up{
    background: rgba(0, 120,0,0.7);
    height: 45px;
    width: 220px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: -15px;
}
.terms{
    color: #3b5998;
}
h6{
    color:rgba(150,150,150,0.9); 
    line-height: 15px;
    font-size: 12px;
    font-weight: lighter;
    padding-top: -20px;
    margin-top: 5px;

}
.sign-up:hover{
    background: rgb(0,120,0);
}
.right-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.9);
}
.second-head{
    font-size: 22px;
    margin-top: -18px;
    color: rgba(150,150,150,0.9);
}
.account-logn{
    margin-left: 320px;
    margin-top: 15px;
    color: aliceblue;
    background:#4267b2;
    border: #021a49;
    height: 20px;
}
.account-logn:hover{
    background: #3b5998;
}